
body {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     background-image: url("istockphoto-157622968-612x612.jpg");
     background-size: cover;
     text-align: center;
     color: white;
     font-weight: bold;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

